<h1><b>Fleischner Guidelines: Risk Factor Definition</b></h1>
<p> Defining high- or low-risk is currently more difficult than it was in the old guideline. 
    Previously a high-risk subject was identified based on a history of heavy smoking, 
    history of lung cancer in a first-degree relative or exposure to asbestos, radon or uranium. Now, 
    it is aimed for to separate high-risk lesions from low-risk ones by considering more parameters 
    than subject characteristics alone:
</p>

<ul>
    <li>History of heavy smoking</li>
    <li>Exposure to asbestos, radium or uranium</li>
    <li>Family history of lung cancer</li>
    <li>Older age</li>
    <li>Sex (Females > Males)</li>
    <li>Race (Black and native Hawaiian > White)</li>
    <li>Marginal speculation</li>
    <li>Upper lobe location</li>
    <li>Multiplicity (&lt; 5 nodules increases risk for malignancy)</li>
</ul>

<p>
    Since these risk factors are numerous and have different effects on the malignancy risk, 
    it is proposed to assess final risk categories concerning the probability of malignancy.
</p>

<table>
    <tr>    
        <th colspan="3">
            Probability of Malignancy 
        </th> 
    </tr>
    <tr>
        <td>Low (&lt; 5 %)</td>
        <td> <strong>Intermediate (5-65%)</strong></td>
        <td>High (&gt; 65%)</td>
    </tr>
    <tr>
        <td>
            Young<br/>
            Less Smoking<br/>
            No prior cancer<br/>
            Small nodule size<br/>
            Regular margins<br/>
            Non-upper lobe<br/>
        </td>
        <td>
            <strong>Mixture of low and hign probability features</strong>
        </td>
        <td>
            Older<br/>
            Heavy Smoking<br/>
            Prior cancer<br/>
            Large size<br/>
            Irregular margins<br/>
            Upper lobe location<br/>
        </td>
    </tr>
</table>

<a href="https://radiologyassistant.nl/chest/plumonary-nodules/fleischner-2017-guideline" target="_blank">Reference</a>