<div class="header">
  <div class="header-1">
      <img class="key" src="/assets/key.png" alt="key" 
          matTooltip="Decryption Key"
          [matTooltipPosition]="position"
      >
      <i class="fas fa-home home" 
          matTooltip="Home"
          [matTooltipPosition]="position"
      ></i>
  </div>
  <div class="header-2">
      <img class="logo" src="/assets/logo_text.png" alt="Logo">
  </div>
</div>

<div class="details">
  <table>
    <tr>
      <td class="field">Name : </td> <td class="data">{{userData.name}}</td>
      <td class="field">Accession No:</td> <td class="data">{{userData.accesion_no}}</td>
      <td class="field">Sex:</td> <td class="data">M</td>
    </tr>
    <tr>
      <td class="field">Patiend Id:</td> <td class="data">{{userData.patient_id}}</td>
      <td class="field">Study Date:</td> <td class="data">{{userData.study_date}}</td>
      <td class="field">Age:</td> <td class="data">{{userData.age}}</td>
    </tr>
    <tr>
      <td class="field">Ref. Physician:</td> <td class="data"> {{userData.ref_physician}}</td>
    </tr>
  </table>
</div>

<div class="content">
  <ul class="nav nav-tabs">
    <a class="nav-item nav-link active" data-toggle="tab" (click)="navigate('/nodule-analysis')">Nodule Analysis</a>
    <a class="nav-item nav-link" data-toggle="tab" (click)="navigate('/low-attenuation-analysis')">Low Attenuation Analysis</a>
    <a class="nav-item nav-link" data-toggle="tab" (click)="navigate('/high-attenuation-analysis')">High Attenuation Analysis</a>
  </ul>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <h2><strong>This report was reviewed by a radiologist on 08/24/2020, 04:04:36</strong></h2>
</div>